.shell {
    background: #1a1a1a;
    max-width: 99vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.custom-nav{
    //outline: 1px dashed #b8b8b8;
    outline: 1px solid #b8b8b8;
}

.custom-navbar{
    margin-top: 4px;
}

.category-name{
    color:#767ea0;
    display: block;
    //padding-right: 0.5rem;
    //padding-left: 0.5rem;
    margin-right: 3rem;
    margin-left: 1rem;
    //box-sizing: border-box;
    //outline: 1px groove #b8b8b8;
}

.shell-content {
    height: 60vh;
    //overflow: scroll;
}

.shell-stdout {
    color: #eee;
}

.cmd-out {
    margin-top: 0%;
}

.shell-output {
    display: flex;
}

.shell-prompt {
    font-weight: bold;
    color: #75DF0B;
}

.shell-input {
    display: flex;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    border-top: rgba(255, 255, 255, .05) solid 1px;
}

.shell-logo {
    font-weight: bold;
    color: #FF4180;
    text-align: center;
}

.shell-input input {
    outline: none;
}

.shell-input div {
    flex-grow: 1;
    align-items: stretch;
}

.shell-input > label {
    flex-grow: 0;
    display: block;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
}

.shell-input .shell-cmd {
    height: 30px;
    line-height: 30px;
    border: none;
    background: transparent;
    color: #eee;
    font-family: monospace;
    font-size: 10pt;
    width: 100%;
    align-self: center;
}